{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
body{
    background-image:url(shop.jpg) ;
    background-size: cover;
}
</style>


  </head>
  <body style="background-image:url(/static/images/shop.jpg);overflow:hidden">
      
        <h2 style="color:rgb(0, 0, 0); text-align: center;position: relative; top: 200px;left: 20px;">Carbon Footprint Calculated!</h2>
          <a href="{% url 'my_view_name' %}"><img src="{% static 'images/home.png' %}" style="position: relative; top: 30px;left: 100px; width:60px;height:60px;"/>

  </body>
  </html>